body { background: url('http://www.jeffanderin.us//images/CinemaBackground.jpg') no-repeat center center fixed;
       
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;}
header { margin-top: 30px; }
header a { color: white; text-decoration: none; }
header a:hover { text-decoration: none; }
form { margin-top: 20px; }
form, #results { padding: 0 20px; }
.item { margin-bottom: 25px; }
.w100 { width: 100%; }


.btn-submit{ background: #952b2b; border-color: #957575; color: #fff; }
.btn-submit:hover, .btn-submit:active, .btn-submit:focus { background: #782b2b;  border-color: #952b2b; }
.btn-copy { background: #952b2b; border-color: #957575; color: #fff; }
.btn-copy:hover, .btn-copy:active, .btn-copy:focus { background: #782b2b;  border-color: #952b2b; }
.btn-primary { background: #952b2b; border-color: #957575; }
.btn-primary:hover, .btn-primary:active, .btn-primary:focus { background: #782b2b;  border-color: #952b2b; }